<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205629431815-3b7p0olbf1r43m98htb0knqh0duh3oj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205629431815-3b7p0olbf1r43m98htb0knqh0duh3oj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAlmtQs2LcFPuIDXHyoaBC56h5aspCBvn8</string>
	<key>GCM_SENDER_ID</key>
	<string>205629431815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlos.myapps.petsapp</string>
	<key>PROJECT_ID</key>
	<string>my-pets-to-do-list</string>
	<key>STORAGE_BUCKET</key>
	<string>my-pets-to-do-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205629431815:ios:19f16a1104659051b74aa2</string>
	<key>DATABASE_URL</key>
	<string>https://my-pets-to-do-list.firebaseio.com</string>
</dict>
</plist>